// Navigation code here

.main-section {
    color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin-left: 310px;
}

.main-section h2 {
    padding-bottom: 20px;
    margin-right: 40px;
}

nav {
    
    
    a {
        margin-right: 50px;
        text-decoration: none;
        color: black;
    }

}

// @media @phone {
    // .main-section {
        // border: 1px solid black;
        // display: flex;
        // flex-direction: column;
        // width: 100%;
        // padding: 0 20px 20px 0;
        


        
    // }
// }
